@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, SIMD!</h1>

<p>SIMD Supported: @SIMDSupported</p>
<p>WASM Exception Handling Supported: @WASMExceptionHandlingSupported</p>

<p>This Blazor WASM PWA app will use a SIMD enabled build when SIMD is supported and a SIMD disabled build when it is not.</p>

<p>More information at the GitHub repo: <a href="https://github.com/LostBeard/BlazorWASMSIMDDetectExample">BlazorWASMSIMDDetectExample</a></p>


@code {
    [Inject]
    IJSRuntime jsRuntime { get; set; } = default!;

    bool SIMDSupported = false;
    bool WASMExceptionHandlingSupported = false;

    protected override async Task OnInitializedAsync()
    {
        SIMDSupported = await jsRuntime.InvokeAsync<bool>("wasmFeatureDetect.simd");
        WASMExceptionHandlingSupported = await jsRuntime.InvokeAsync<bool>("wasmFeatureDetect.exceptions");
        await base.OnInitializedAsync();
    }
}